{% extends 'first/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'first/styles.css' %}">

<br><br>
<div style="text-align:center">
  <img src="{% static 'first/make.png' %}" alt="word" style="width:40%; margin-left: auto; margin-right: auto; display: block; top:10px;">
</div>

<!--<img id = word src="{% static 'first/1.png' %}" alt="word" style="width:10%; margin-left: auto; margin-right: auto; display: block;">-->

<!--<div id="container">-->
<!--  <canvas id="drawCanvas" width="280  " height="280"-->
<!--            style="border: 4px solid blue; display: block; margin: auto; padding-left: 0; padding-right: 0; text-align:center"></canvas>-->
<!--</div>-->


<br><br>

<div style =  "width : 20%;
        height : 5%;
        margin : 0 auto;
        padding : 0;
        border : none;
        background-color : #2d3a4b;
        display : table;" 
        onclick="location.href='/first/canvas0'">
    <p style ='text-align : center; color : #ffffff;  font-size : 170%;' id ='start'>
      Start!!
    </p>
</div>

{% endblock %}

<!--Start Make Font-->
