{% extends 'first/base.html' %}
{% load static %}
{% block content %}


<script>
  $(window).load(function(){
    console.log("");
    console.log("[window onload] : [start]");
    console.log("");});

  function save(){
    $.ajax({
        type: 'POST',
        url: '/first/loading',
        success: function(result) {
          console.log("run");
        }
    })
  }
</script>

<body>
  <br>
  <img src="{% static 'first/load.png' %}" alt="word" style="width:20%; margin-left: auto; margin-right: auto; display: block; top:10px;">
  <img id = loading src="{% static 'first/loading.png' %}" alt="load" style="width:30%; margin-left: auto; margin-right: auto; display: block;">

  <img onclick="location.href='/first/run'" id = load src="{% static 'first/loading.gif' %}" alt="load" style="width:5%; margin-left: auto; margin-right: auto; display: block;">


  <br><br>
</body>

  

{% endblock %}