{% extends 'first/base.html' %}
{% load static %}
{% block content %}

<div style="text-align:center">
  <h2>원하는 굵기를 선택하세요!</h2>
</div>


<br><br>

<div align='center'>
  <img style="width:20%; margin-left: auto; margin-right: auto; display: block;" src="{% static 'example/ex1.png' %}">
  <div style =  "width : 20%;
        height : 5%;
        margin : 0 auto;
        padding : 0;
        border : none;
        background-color : #2d3a4b;
        display : table;" 
        onclick="location.href='/first/run_font1'">
    <p style ='text-align : center; color : #ffffff;  font-size : 120%;' id ='start'>
      Select 굵기 1
    </p>
  </div>
  <br><br>
  <img style="width:20%; margin-left: auto; margin-right: auto; display: block;" src="{% static 'example/ex2.png' %}">
  <div style =  "width : 20%;
        height : 5%;
        margin : 0 auto;
        padding : 0;
        border : none;
        background-color : #2d3a4b;
        display : table;" 
        onclick="location.href='/first/run_font2'">
    <p style ='text-align : center; color : #ffffff;  font-size : 120%;' id ='start'>
      Select 굵기 2
    </p>
  </div>
  <br><br>
  <img style="width:20%; margin-left: auto; margin-right: auto; display: block;" src="{% static 'example/ex3.png' %}">
  <div style =  "width : 20%;
        height : 5%;
        margin : 0 auto;
        padding : 0;
        border : none;
        background-color : #2d3a4b;
        display : table;" 
        onclick="location.href='/first/run_font3'">
    <p style ='text-align : center; color : #ffffff;  font-size : 120%;' id ='start'>
      Select 굵기 3
    </p>
  </div>
  <br><br>
  <img style="width:20%; margin-left: auto; margin-right: auto; display: block;" src="{% static 'example/ex4.png' %}">
  <div style =  "width : 20%;
        height : 5%;
        margin : 0 auto;
        padding : 0;
        border : none;
        background-color : #2d3a4b;
        display : table;" 
        onclick="location.href='/first/run_font4'">
    <p style ='text-align : center; color : #ffffff;  font-size : 120%;' id ='start'>
      Select 굵기 4
    </p>
  </div>
  <br><br>
  <img style="width:20%; margin-left: auto; margin-right: auto; display: block;" src="{% static 'example/ex5.png' %}">
  <div style =  "width : 20%;
        height : 5%;
        margin : 0 auto;
        padding : 0;
        border : none;
        background-color : #2d3a4b;
        display : table;" 
        onclick="location.href='/first/run_font5'">
    <p style ='text-align : center; color : #ffffff;  font-size : 120%;' id ='start'>
      Select 굵기 5
    </p>
  </div>
  <br><br>
</div>


{% endblock %}