*{margin: 0px; padding: 0px;}
ul{list-style: none;} /* 리스트 앞에 . 같은거 제거*/
a{text-decoration: none;} /* 링크에 밑줄 같은거 제거*/

header{
    width: 100%; /*메인 이미지의 너비 사이즈와 같음*/
    height: 95px;
    background-color: #2d3a4b;

    /* header 안에 요소들을 모두 absolute 포지션으로 배치할 것이라서 */
    /* absolute 요소가 header의 좌상단을 기준으로 하려면 */
    /* header의 position이 relative 여야만 함 */
    position: relative;
}

/* 제목영역안에 있는 메인 로고 이미지 위치 지정 */
#logo{
    position: absolute;
    width: 40%;
}

/* 제목영역안에 오른쪽 상단에 top_menu 배치 */
#top_menu{
    position: absolute;
    top: 40px;
    right: 30px;
    color: white;
    
}

/* top_menu a의 글시 하얀색으로 */
#top_menu a
{   
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

#drug{
    width: 100%;
    text-align: center;
}

#submit{
    background-color: #F6C4C1;
    color: white;
    border-color: #F6C4C1;
}

input{
    background-color: #2d3a4b;
    color: white;
}

footer{
    width: 100%; /*헤더와 같은 사이즈*/
    margin-top: 20px;
    text-align: center;
    position: absolute;
}

#page{width: 100%; margin: 0px auto;}
